* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
} 

body{
    /* overflow: hidden; */
    width: 100%;
    height:100% ;

    }


@font-face {
    font-family: Capri;
    src:url(fonts/Capriola-Regular.ttf);
}




@font-face {
    font-family: Mali;
    src:url(fonts/Mali-Regular.ttf);
}
.SlideShow-Content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    position: relative;
}
.SlideShow {
    width:100%;
    height: 300px;
    
    overflow: hidden;
    position: relative;
    background-image: url(img/mTavari.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation-name: change;
    animation-duration:40s;
    animation-timing-function:ease-in-out;
    animation-delay:5s;
    animation-iteration-count:infinite;
    /* animation-direction:; */
    
   
    
}
@keyframes change {
    /* 0%
        {
            background-image: url(img/first.jpg);
          
        } */
   
    40% {
          background-image: url(img/red.jpg);
          
        }
    60% {
          background-image: url(img/greenn.jpg);
        
    }
     80% {
         background-image: url(img/yel.jpg);
       
     }
     85% {
        background-image:  url(img/blue.jpg);
          
     }
     100% {
        background-image: url(img/bolo.jpg);
      
     }
}
h1{
    font-family: Capri;
    text-transform: capitalize;
    padding-bottom: 20px;
    text-shadow: 2px 8px 10px  #f17d1e;
    animation: text-shine 2s ease-in-out infinite alternate;
    
}

@keyframes text-shine {

    50%  {text-shadow: 2px 8px 10px rgba(255, 213, 0, 0.925)}
    100% {text-shadow: 2px 8px 10px #b95c1e }
  }

#Header-String{
    font-family:Mali;
    text-transform:capitalize;
    margin-left: 25px;
    display:inline;
}
 

.Hero {
    background-image:url(img/small.jpg);
    background-position:center ;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 100px;
    color: rgb(236, 130, 111);
    transition:  0.8s ease-in-out, alternate;
    border-bottom: 8px double;
   
    
  
}

.Hero:hover
           {
            padding: 190px;
            
            }

.Container  {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    
}



.logo img{
    width: 100px;
    
    margin-right:90px;
    
    
}
nav {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    font-family:Mali ;
    top:0px;
    position: fixed;
    width: 100%;
    z-index: 20;
    
    
}
.nav-links {
    
    display: flex;
    justify-content: space-around;
    width: 700px;
    
}

.nav-links a{
    text-decoration: none;
    color:rgb(60, 39, 198);
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
    opacity: 0.8;
    position: absolute;
    z-index:15;

}

ul{
    color: aliceblue;
    list-style: none;
}
  
.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color:wheat;
    margin: 5px;
}
.nav-links li a:hover{
    color: brown;
}

/* -------- Start responsive -------- */

@media screen and (max-width:1024px) {
    .nav-links{
        width: 1000px ;
    }
    
}

@media screen and (max-width:768px) {
    body{
        width: 768px;
        
        overflow-x: hidden;
        
    }
    .SlideShow {
        display: none;
    }
    .nav-links{
        /* background-color: crimson; */
        position: absolute;
        right:0px;
        height:60vh;
        top:8vh;
        display:flex;
        flex-direction:column;
        align-items: center;
        width:50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in ;
        
    }
    ul{
        list-style: none;
    }
    .nav-links li a {
        color: #f3e8e0 ;
        cursor: pointer;
        
    }
    .nav-links li a:hover{
        color: brown;
    }
    .burger{
        display: block;
       position:absolute;
       
       
    }
    
    .Hero:hover{
        padding: 100px;
    }
    .Hero{
        height: 700px;
        width:50%;
        border: 15px solid black;
    }
   nav {
    height:50px;
   }
   .logo img{
    width: 50px;
   }
   h1{
    font-size: smaller;
    width: 200px;
    margin-right: 25px;

   }
   h2 {
     font-size: smaller;
     width: 300px;
   }

   #Header-String{
    display: none;
   }
   .Main-Cont {
    width: 100px;
   }
 .Image2 {
    width: 50px;
    
 }
 .Colors-Conteinetr{
    background-color: #f17d1e;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
    
    
 }
 .Colors-Container-Box1{
   width: 100px;
 }
 .Four-Color-Box div { 
    width:20px ;
    height:20px;
    
  
 }

}
 /* ------and of responsivee ------ */

 .nav-active{
    transform: translateX(0%);
 }

 @keyframes navLinkFade {
    from{
           opacity: 0;
           transform: translate(50px);
    }
    to{
          opacity: 1;
          transform: translate(0px);
    }
 }

 /* --------- start main ---------- */
main {
    text-align: center;
    margin-top: 50px;
}
.Main-Cont {
    padding: 20px;
    font-family:Capri ;
    display: block;
    
}
.Image2{
    width: 550px;
    padding: 10px;
}
.Main-Content p{
    width: 550px; margin: auto;
    text-align: justify;
    font-family: Mali;
}
.Atributes{
    width: 400px;
    margin: auto;
    padding: 10px;
    background-color: #f17d1e;
    
    
    
   
}
.Atributes span {
    text-decoration: underline;
    color: darkgray;
    font-weight: 100;
   
   
}
.Meaning-OF {
    margin: 80px;
    width: 550px;
    font-family: Mali;
    text-align: justify;
}

/* ----------color section ------- */

.Heading2 {
    text-align: center;
    font-family:Capri ;
    margin: 50px;
}

.Colors-Conteinetr {
    display: flex;
    justify-content:space-around;
}
.Colors-Container-Box1 {
    width: 400px;
  font-family: Mali;
    
}



.Four-Color-Box{
    display: flex;
    width: 100%;
    max-width: 800px;
    justify-content: space-between;
    /* background-color: #f17d1e; */
   
    
}
.red{
    width: 180px;
    height: 180px;
    border-radius: 76% 24% 76% 24% / 41% 48% 52% 59%  ;
    background-color: red;
    animation: tsiteli;
    animation-duration:5s;
    animation-delay:2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
    transform-origin: center;
    
}

.yellow{
    width: 200px;
    height: 200px;
    border-radius: 52% 48% 48% 52% / 19% 63% 37% 81%   ;
    background-color:yellow;
    animation: lemon;
    animation-duration: 2s;
    animation-delay:2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    animation-fill-mode:backwards;
    
}
.green{
    width: 180px;
    height: 180px;
    border-radius: 50% 50% 80% 20% / 41% 42% 58% 59%  ;
    background-color:green;
    animation: mtsvane;
    animation-duration: 3s;
    animation-delay:2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    animation-fill-mode:backwards;
    
}
.blue{
    width: 200px;
    height: 200px;
    border-radius: 60% 40% 66% 34% / 54% 60% 40% 46%   ;
    background-color: blue;
    animation: lurji;
    animation-duration: 4s;
    animation-delay:2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    animation-fill-mode:backwards;
    
}
@keyframes lurji {
    from {background-color: rgb(151, 19, 12);
        transform:translateX(50px);
     }
    to { background-color: rgba(125, 192, 182, 0.616);
        
    }
    /* 0% {
        border-radius: 0;
    } */
    100%{
        border-radius: 38% 62% 72% 28% / 67% 39% 61% 33%   ;
    }
  }

  @keyframes mtsvane {
    from {background-color: rgba(60, 255, 0, 0.537);}
    to { background-color: rgba(37, 164, 233, 0.826);
        transform:translateX(50px);
    }
  }

  @keyframes lemon {
    from {background-color: rgb(229, 255, 0);
    transform:translateX(40px);}
    to { background-color: rgba(230, 71, 23, 0.909);}
    
    
  }

  @keyframes tsiteli {
    from {background-color: rgba(255, 0, 0, 0.895);
          }
    to { background-color: rgba(211, 36, 224, 0.721);
        transform:translateX(40px);}

    
     }
    
   
  /* ------- article  ----- */

  /* article{
    width: 100%;
    height: 500px;
    background-image: url(/img/abstract.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    
    margin-top: 50px;
    display: flex;
    align-items: center;
    border-bottom: 50px solid rgb(73, 12, 47);
   
    
  } */


  /* -------------- meore gverdi ------ */

  .Mtavari {
    
    width: 100%;
    height:500px;
    background-color: darkcyan;
    background-image: url(img/abstract.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
      display: flex;
    align-items: center;
    position: absolute;
  
   } 
   .Mtavari p {
      margin:0 auto
   }
  
   .Sektsia {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* height: 100%; */
      /* background-color: crimson; */
      border: 4px solid blue;
      position: relative;
      margin-top: 300px;
      width: 100%
      
    
      
   }
  
  
       
   .zeda-box{
      display: flex;
      justify-content: space-between;
      /* background-color: rgb(247, 247, 247);   */
      padding: 20px; 
      height: 490px; 
      width: 1060px;
      border: 15px solid rgb(210, 26, 84);
      margin-bottom: 20px;
      box-shadow: inset -10em -15em  gold;
     
   }
  
   .kveda-box-mtliani  {
      width: 1060px;
      height: 538.40;
      display: flex;
      justify-content: space-between;
   }
   .marjvena-mxare {
     
    background-color: rgba(227, 213, 63, 0.804);
      width: 460px;
      height: 478.4px;
      display:flex;
      flex-direction: column;
      /* align-items: center; */
      padding:5px;
      margin: 15px;
      border: 15px solid rgb(211, 179, 217);
      animation: Box;
      animation-duration: 8s;
      animation-delay: -2s;
      animation-timing-function: ease-in-out  alternate;
     animation-iteration-count:3;
     
        
   }

   @keyframes Box {
    from {
        transform: rotateY(0);}
    10% {background-color: #af8b8b;}
        
    to {
        transform: rotateY(360deg);
        background-color: rgb(230, 197, 206)
       
    }
    50% {
        border: 15px solid rgba(227, 213, 63, 0.804);
        box-shadow: inset 0 -3em 3em rgba(179, 108, 161, 0.721),
      0 0 0 2px #af8b8b,
      0.7em 0.7em 2em rgba(238, 34, 207, 0.671);
    }
   }
   .marjvena-mxare-text{
    width: 350px;
    padding: 20px;
    margin: 10px;
    background: rgba(241, 237, 182, 0.804);
    text-align: center;

   }
   

   .marjvena-mxare div {
    padding: 10px;
   }
   .marjvena-mxare div p{
    font-family: Mali;
    text-align: justify;
   }
   .marjvena-mxare div h3 {
    font-family: Capri;
    text-transform: capitalize;
    
   }
   .marckhena-mxare {
      background-color: rgba(227, 213, 63, 0.804);
      width: 475px;
      height: 460px;
      border: 15px solid rgb(211, 179, 217);
      box-shadow: inset 0 -3em 3em rgba(179, 108, 161, 0.721),
      0 0 0 2px #af8b8b,
      0.7em 0.7em 2em rgba(238, 34, 207, 0.671);
      display: flex;
      align-items: center;
      padding: 20px;
     
   }
   .marckhena-mxare h5 {
    font-family: Capri;
    text-transform: capitalize;
    font-style: italic;
    color: #f17d1e;
    padding: 10px;
  }
  .marckhena-mxare  p { 
    font-family: Mali;
   

  } 
  .marckhena-mxare-text {
    width: 300px;
    padding: 20px;
    background: rgba(241, 237, 182, 0.804);


  }
  .marckhena-mxare li {
      list-style-type: none;
  }
   .cake{
      width: 100px;
      height: 110px;
     
      margin: 4px;
      border: 5px solid wheat;
      box-shadow: 10px 5px 5px rgb(140, 36, 36);
      
   }
        
  


  
