* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

@font-face {
    font-family: Capri;
    src:url(fonts/Capriola-Regular.ttf);
}




@font-face {
    font-family: Mali;
    src:url(fonts/Mali-Regular.ttf);
}
h1{
    font-family: Capri;
    text-transform: capitalize;
    padding-bottom: 20px;
    text-shadow: 1px 7px 10px  rgba(255, 136, 0, 0.863);
    animation: text-shine 1.5s ease-in-out infinite alternate;
}

@keyframes text-shine {

    50%  {text-shadow: 1px 7px 10px rgba(255, 136, 0, 0.863)}
    100% {text-shadow: 1px 7px 10px #f5e74c;}
  }

#Header-String{
    font-family:Mali;
    text-transform:capitalize;
    margin-left: 25px;
    display:inline;
}
 

.Hero {
    background-image:url(img/small.jpg);
    background-position:center ;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 100px;
    color: rgb(236, 200, 111);
    transition:  0.6s ease-in-out, alternate;
  
}

.Hero:hover
           {
            padding: 190px;
            

            /* transform: translate(20px, 10px); */
            /* transition:all 0.4s ease-in-out, alternate; */
           }

.Container  {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
